.item {
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    display: block;
    width: 300px;
    text-align: center;
    color: black;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.item:hover {
    background-color: #fFFFFF;
    transform: scale(1.10) translateY(-10px);
}

.name {
    border-bottom: 2px solid #1b80ec;
    padding-bottom: 10px;
}

.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #1b80ec;
}


.link {
    text-decoration: none;
    color: inherit;
}

.about,
.interests {
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
}