.item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    display: block;
}

.item:hover {
    background-color: #f0f0f0;
}

.image {
    max-width: 150px;
    border-radius: 50%;
}

.link {
    /* Estilos opcionales para el enlace */
    text-decoration: none;
    color: inherit;
}