.container {
    padding: 20px;

}

.list {
    list-style-type: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
    padding-left: 20px;
}